body{
  margin: 0;
  color: #fff;
  width: 100%;
  height: 100vh;
  font-family: Lucida Sans Typewriter, Courier New, Consolas, Andale Mono, Monaco, Lucida Console;
  background: #234 url(../../assets/logo.png);
  background-position: center;
  background-attachment: fixed;
  font-size:1.35em;
  tab-size:4;
}

.postButton {
  margin-top: -35px;
  z-index: 100;
  position: absolute;
  right: 80px;
  background: #6fa;
  color: #042;
  display: none;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  border-top: 2px solid #333;
  border-bottom: 0;
  margin: 0;
  height: 0;
}

#header{
  width:100%;
  height:65px;
  border-bottom:1px solid #234;
  background:rgba(15,25,35,.75);
}

#main{
  position:absolute;
  z-index: 2;
  text-align:center;
  margin-top:80px;
}

.featuredLink{
  position:fixed;
  font-size:35px;
  color:#6bc;
  text-shadow: 0 0 3px #000;
  z-index:5;
}

.logoImage{
  height:65px;
}

a{
  color:#ff4;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

#loggedInRightMenu{
  right:0px;
  font-size:0;
  margin-bottom: 25px;
}

#rightMenu{
  position:fixed;
  right:30px;
  font-size:0;
  height:80px;
  text-align:right;
  margin-top:15px;
  z-index:20;
}

.rightMenuLink{
  cursor:pointer;
  margin-left:20px;
  margin-right:20px;
  font-size:26px;
}

.userMenu{
  cursor:pointer;
  font-size:24px;
}

.menuText{
  font-size:26px;
  color:#888;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: #333;
  border-radius: 15px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color:#ccc;
  font-size:18px;
  min-width: 250px;
  border:1px solid #888;
  padding: 0;
  z-index: 1;
  margin-left: -10px;
  left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownItem{
  border-top:1px solid #888;
  margin:0;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
  cursor:pointer;
}

.dropdownItem:hover{
  background:#ccc;
  color:#666;
}

#loginScreen, #registerScreen, #preferencesScreen, #changePasswordScreen, #emailVerificationScreen, #emailConfirmScreen, #forcePasswordScreen{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,10,.95);
  text-align:center;
  z-index:12;
  display:none;
}

input[type=text],[type=email],[type=password]{
  background:transparent;
  color:#ccc;
  text-align:center;
  font-size:22px;
  width:330px;
  border-bottom:1px solid #caf;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #286;
  outline:0;
}

button{
  font-size:26px;
  border-radius:2px;
  background:#;
  border:1px solid #aaa;
  padding-right:40px;
  padding-left:40px;
  background:#488a;
  color:#eff;
  color:#ccc;
  cursor:pointer;
}

.inputLabel{
  text-align:right;
  padding-bottom:25px;
  padding-right:10px;
  padding-left:10px;
  width:45%;
}

.inputCell{
  text-align:center;
  padding-bottom:25px;
  padding-right:10px;
  padding-left:10px;
  width:55%;
}

.inputTable{
  width:100%;
}

.submitTable{
  width:100%;
  margin-top:20px;
}

.inputDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:680px;
  border:1px solid #555;
  border-radius:10px;
  padding-top:20px;
  padding-bottom:20px;
  background:rgba(10,10,20,.9);
}

#loginResult{
  color:#f00;
  display:none;
}

#usernameAvailability{
  display:none;
}

.menuAvatar{
  width:180px;
  height:180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.highlighted{
  color:#ff6;
}

.appletDiv{
  margin-left:auto;
  margin-right:auto;
  width:90%;
  max-width:90%;
  min-width:580px;
  margin-bottom:100px;
  padding: 10px;
  background: #0008;
}

.appletLegend{
  margin-left:auto;
  margin-right:auto;
  border:10px solid #0008;
  width:90%;
  max-width:90%;
  min-width:580px;
  margin-top:-90px;
  margin-bottom:100px;
  background:rgba(20,20,20,.65);
}

.legendText{
  font-size:.8em;
  white-space: pre-line;
  text-align:left;
  padding:10px;
  line-height:1.65em;
}

.function-wrap{
  color:#888;
  font-size:.9em;
  float:left;
}

.code-input{
  width:50%;
  background:#000c;
  font-family:"Lucida Console", Monaco, monospace;
  font-size: .9em;
  white-space: pre-line;
  word-break: break-all;
  text-align:left;
  padding:15px;
  box-sizing: border-box;
  display:block;
  float:left;
}

.appletCode{	
  background: transparent;
  border:0;
  color: white;
  outline:0;
  font-size:.8em;
  padding:0;
  width:100%;
  min-height:120px;
  max-height:250px;
  margin-top:-100px;
  resize:none;
  box-sizing: border-box;
  display:block;
}

.appletIframe{
  width:50%;
  overflow-y: hidden;
  border:0;
  float:left;
  display:block;
}

code{
  display:block;
}

.appletAvatar{
  margin:5px;
  width:35%;
  border-radius: 50%;
  display:block;
  float:left;
}

.clear{
  clear:both;
}

.appletName{
  color:#48a;
  font-style:italic;
  overflow-wrap: break-word;
}

.appletName:hover{
  text-decoration:underline;
}

.userInfoTable{
  border-collapse: collapse;
  float:left;
  font-size: 16px;
  font-size: 1.5vw;
  color:#aa8;
  border-bottom:1px solid #888;
  width:100%;
  height:8vh;
}

td, th {
  text-align: center;
}

.userInfoTable td{
}

.toolbar{
  width:100%;
  display:block;
  float:left;
  font-size:.7em;
}

.toolbarText{
  display:flex;
  justify-content:space-between;
  padding-right:20px;
  padding-left:20px;
  margin-top:1%;
}

.assetChoice{
  display:block;
  float:left;
}

#asset{
  border:1px solid #aaa;
}
.rate_widget {
    overflow:   visible;
    padding:    2px;
    position:   relative;
    width:      240px;
    height:     32px;
}
.ratings_clouds {
    background: url(../../assets/grey_heart.png) no-repeat;
    float:      left;
    padding:    2px;
  background-size:90% 90%;
  background-position: center;
    width:      36px;
    height:     28px;
  cursor: pointer;
}
.ratings_vote {
    background: url(../../assets/red_heart.png) no-repeat;
  background-size:90% 90%;
  background-position: center;
}
.ratings_over {
    background: url(../../assets/green_heart.png) no-repeat;
  background-size:90% 90%;
  background-position: center;
}
#popCell{
  padding-left:8px;
  font-size:24px;
  color:#eee;
}

.shareBox{
  position:absolute;
  text-align:center;
  display:none;
  height:1.2em;
  font-size:1.2em;
  margin-top:0px;
  left:60%;
}

#landingDiv{
  position:absolute;
  text-align:center;
  width: calc(100% - 300px);
  right: 0;
  margin-top:80px;
  display: none;
}

.newAppletButton{
  border-radius:6px;
  margin-left:auto;
  margin-right:auto;
  background:#488a;
  color:#eff;
  width:320px;
  padding:15px;
  cursor:pointer;
}

.NewAppletButtonGraphic{
  width:50px;
  display:block;
  float:left;
  margin-left:-10px;
  margin-top:-13px;
}

.creditDiv{
  width:100%;
  background:rgba(40,40,40,.65);
  text-align:center;
  border-bottom:1px solid #555;
}

.commentsDiv{
  width:100%;
  font-size: .8em;
  background:#000c;
  border-left:1px solid #555;	
  border-right:1px solid #555;	
  border-bottom:1px solid #555;	
}

.commentsDivInner{
  text-align:left;
  padding:10px;
}

.navMenu{
  font-size:18px;
  width:100%;
  text-align:center;
  margin-top:21px;
  margin-bottom: 20px;
  color:#6bc;
  z-index:4;
}

.navMenuButton{
  margin-left:5px;
  margin-right:5px;
  background:#334;
  border-radius:5px;
  border:1px solid #888;
  padding-left:5px;
  padding-right:5px;
}

.navMenuButton:hover{
  text-decoration:none;
}

.navMenuButtonSelected{
  margin-left:10px;
  margin-right:10px;
  background:#0f8;
  color:black;
  border-radius:5px;
  border:2px solid white;
  padding-left:5px;
  padding-right:5px;
}

.navMenuButtonSelected:hover{
  text-decoration:none;
}

.deleteButton{
  color:red;
  font-size:.8em;
  float:right;
  display:none;
  margin-top:-30px;
}

@media screen and (max-width: 1000px) {
  body{
    margin: 0;
    color: #fff;
    width: 100%;
    height: 100vh;
    font-family: Lucida Sans Typewriter, Courier New, Consolas, Andale Mono, Monaco, Lucida Console;
    background: #234 url(../../assets/logo.png);
    background-position: center;
    background-attachment: fixed;
    font-size:1.35em;
    tab-size:4;
  }

  #header{
    width:100%;
    height:65px;
    border-bottom:1px solid #234;
    background:rgba(15,25,35,.75);
  }

  #main{
    position:absolute;
    z-index: 2;
    text-align:center;
    margin-top:80px;
  }

  .featuredLink{
    position:fixed;
    font-size:35px;
    color:#6bc;
    text-shadow: 0 0 3px #000;
    z-index:5;
  }

  .logoImage{
    height:65px;
  }

  a{
    color:#ff4;
    text-decoration:none;
  }

  a:hover{
    text-decoration:underline;
  }

  #loggedInRightMenu{
    position:fixed;
    right:0px;
    font-size:0;
    height:80px;
    z-index:20;
    margin-top: -50px;
    background: transparent;
  }

  #rightMenu{
    position:fixed;
    right:20px;
    font-size:0;
    height:80px;
    text-align:right;
    margin-top:15px;
    z-index:20;
  }

  .rightMenuLink{
    cursor:pointer;
    margin-left:20px;
    margin-right:20px;
    font-size:26px;
  }

  .userMenu{
    cursor:pointer;
    font-size:38px;
    display: none;
  }

  .menuText{
    font-size:26px;
    color:#888;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    background: transparent;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color:#ccc;
    font-size:18px;
    left: auto;
    right: 20px;
    margin-left: auto;
    min-width: 250px;
    border:1px solid #888;
    padding: 0;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdownItem{
    border-top:1px solid #888;
    margin:0;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    cursor:pointer;
  }

  .dropdownItem:hover{
    background:#ccc;
    color:#333;
  }

  #loginScreen, #registerScreen, #preferencesScreen, #changePasswordScreen, #emailVerificationScreen, #emailConfirmScreen, #forcePasswordScreen{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,10,.95);
    text-align:center;
    z-index:10;
    display:none;
  }

  .inputLabel{
    text-align:right;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    width:45%;
  }

  .inputCell{
    text-align:center;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    width:55%;
  }

  .inputTable{
    width:100%;
  }

  .submitTable{
    width:100%;
    margin-top:20px;
  }

  .inputDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:680px;
    border:1px solid #555;
    border-radius:10px;
    padding-top:20px;
    padding-bottom:20px;
    background:rgba(10,10,20,.9);
  }

  #loginResult{
    color:#f00;
    display:none;
  }

  #usernameAvailability{
    display:none;
  }

  .menuAvatar{
    width:80px;
    height:80px;
    margin-left:30px;
    margin-bottom:0;
    border-radius: 50%;
  }

  hr{
    border-top: 2px solid #333;
    border-bottom: 0;
    margin: 0;
    height: 0;
  }

  .highlighted{
    color:#ff6;
  }

  .appletDiv{
    margin-left:auto;
    margin-right:auto;
    border:1px solid #555;
    width:90%;
    max-width:800px;
    min-width:580px;
    margin-bottom:100px;
  }

  .appletLegend{
    margin-left:auto;
    margin-right:auto;
    border:10px solid #0008;
    width:90%;
    max-width:90%;
    min-width:580px;
    margin-top:-90px;
    margin-bottom:100px;
    background:rgba(20,20,20,.65);
  }

  .legendText{
    font-size:.8em;
    white-space: pre-line;
    text-align:left;
    padding:10px;
    line-height:1.65em;
  }

  .function-wrap{
    color:#aaa;
    font-size:1em;
    float:left;
  }

  .code-input{
    width:100%;
    background:#000c;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: .9em;
    white-space: pre-line;
    word-break: break-all;
    text-align:left;
    padding:15px;
    max-height: 30em;
    height:250px;
    box-sizing: border-box;
  }

  .appletCode{
    background: transparent;
    border:0;
    color: white;
    outline:0;
    font-size:.8em;
    padding:0;
    width:100%;
    min-height:150px;
    max-height:200px;
    resize:none;
    box-sizing: border-box;
    display:block;
  }

  .appletIframe{
    width:100%;
    overflow-y: hidden;
    border:0;
    display:block;
  }

  code{
    display:block;
  }

  .appletAvatar{
    margin: 5px;
    width:35%;
    border-radius: 50%;
    display:block;
    float:left;
  }

  .clear{
    clear:both;
  }

  .appletName{
    color:#48a;
    font-style:italic;
    overflow-wrap: break-word;
  }

  .appletName:hover{
    text-decoration:underline;
  }

  .userInfoTable{
    border-collapse: collapse;
    float:left;
    font-size: 16px;
    font-size: 1.5vw;
    color:#aa8;
    border-bottom:1px solid #888;
    width:100%;
    height:8vh;
  }

  .userInfoTable td{
  }

  .toolbar{
    width:100%;
    display:block;
    float:left;
    font-size:.7em;
  }

  .toolbarText{
    display:flex;
    justify-content:space-between;
    padding-right:20px;
    padding-left:20px;
    margin-top:1%;
  }

  .assetChoice{
    display:block;
    float:left;
  }

  #asset{
    border:1px solid #aaa;
  }
  .rate_widget {
      overflow:   visible;
      padding:    2px;
      position:   relative;
      width:      240px;
      height:     32px;
  }
  .ratings_clouds {
    background: url(../../assets/grey_heart.png) no-repeat;
    float:      left;
    padding:    2px;
    background-size:90% 90%;
    background-position: center;
    width:      36px;
    height:     28px;
    cursor: pointer;
  }
  .ratings_vote {
    background: url(../../assets/red_heart.png) no-repeat;
    background-size:90% 90%;
    background-position: center;
  }
  .ratings_over {
    background: url(../../assets/green_heart.png) no-repeat;
    background-size:90% 90%;
    background-position: center;
  }
  #popCell{
    padding-left:8px;
    font-size:24px;
    color:#eee;
  }

  .shareBox{
    position:absolute;
    text-align:center;
    display:none;
    height:1.2em;
    font-size:1.2em;
    margin-top:0px;
    left:60%;
  }

  #landingDiv{
    position:absolute;
    text-align:center;
    padding:0;
    width:100%;
    margin-top:100px;
    display: none;
  }

  .newAppletButton{
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    background:#488a;
    color:#eff;
    width:320px;
    padding:15px;
    cursor:pointer;
  }

  .NewAppletButtonGraphic{
    width:50px;
    display:block;
    float:left;
    margin-left:-10px;
    margin-top:-13px;
  }

  .creditDiv{
    width:100%;
    background:rgba(40,40,40,.65);
    text-align:center;
    border-bottom:1px solid #555;
  }

  .commentUserName{
    
  }

  .commentsDiv{
    width:100%;
    background:#000c;
    border-left:1px solid #555;	
    border-right:1px solid #555;
    border-bottom:1px solid #555;	
  }

  .commentsDivInner{
    text-align:left;
    padding:10px;
  }

  .navMenu{
    position:fixed;
    font-size:20px;
    width:100%;
    text-align:center;
    margin-top:10px;
    color:#6bc;
    z-index:4;
  }

  .navMenuButton{
    margin-left:10px;
    margin-right:10px;
    background:#334;
    border-radius:5px;
    border:1px solid #888;
    padding-left:5px;
    padding-right:5px;
  }

  .navMenuButton:hover{
    text-decoration:none;
  }

  .navMenuButtonSelected{
    margin-left:10px;
    margin-right:10px;
    background:#0f8;
    color:black;
    border-radius:5px;
    border:2px solid white;
    padding-left:5px;
    padding-right:5px;
  }

  .navMenuButtonSelected:hover{
    text-decoration:none;
  }

  .deleteButton{
    color:red;
    font-size:.8em;
    float:right;
    display:none;
    margin-top:-30px;
  }

}
